@charset "UTF-8";
.hidden {
/* 	visibility : hidden  */
	display : none;
}


main #result {
	background-color:#f7f7f7;
	min-height: 1000px;
	margin-top:70px;
	
	
}

.result-container #resultsetting{
	padding-top: 50px;
	padding-left: 50px;
	padding-right: 50px;

}

.result-container #resultsort {
	text-align: right;

}
.result-container input[type="radio"]{
  display: none;
}
.result-container input[type="radio"] + label span {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: transparent;
  vertical-align: middle;
  border: 2px solid #f56;
  border-radius: 50%;
  padding: 2px;
  margin:0 5px;
}
.result-container input[type="radio"]:checked + label span {
  width: 10px;
  height: 10px;
  background: #f56;
  background-clip: content-box;
}




.result-container #resultbepumi{	
	height:100%;
}

.result-container #resultaddress{
	  font-family : 돋움, Arial, sans-serit;
	font-size:19px;
	  color:#292929;
	  font-weight: bold;

   padding-left: 27px;
   background: url("images/icon-map4.png") no-repeat left center;
	  
}

.result-container #resultcount{
	padding-top:4px;
	  font-family : 돋움, Arial, sans-serit;
	font-size:14px;
	  color:#292929;
}






/* .wrap
{
  margin:0 auto 0 auto;
  width:100%;
  display:flex;
  align-items:space-around;
  max-width:1200px;
   flex-direction:  column;
	
} */


.floor{

/* 	margin: 0 auto;
	min-height:inherit;	
	max-width:inherit;
	text-align: center; 
	overflow: hidden; */
	display:flex;
	  

	
}


.bepumi
{

/* 	
	-moz-box-shadow: 10px 9px 66px #474647;
-webkit-box-shadow: 10px 9px 66px #474647;
box-shadow: 10px 9px 66px #474647; */
  width:240px;
  height:320px;
  margin:10px;
/*   background-color:#F8D9DD; */
/* border: 1px solid blue; */
  display:inline-block;
  background-size:cover;
  position:relative;
  cursor:pointer;
  transition: all 0.4s ease-out;

  overflow:hidden;
 
  font-family:'Roboto';

  
}
.bepumi >img
{
  height:240px;
  width:240px;
  position:absolute;  
  z-index:0;
  transition: all 0.4s ease-out;
}

#bepumipicture{
	 position:absolute;
	  top:190px;
	  left:0px;
	height:50px;
	  width:240px;
	
}

#bepumipicture .gradesuper{
	width:95px;
	height:33px;
	margin:10px;
	float: left;
}


#bepumipicture .gradegeneral{
	width:60px;
	height:33px;
	margin:10px;
	float: left;
}

#bepumipicture p{
	 width: fit-content;
	 float:left;
     margin-top: 17px;	
 	width: fit-content;
 	font-size:16px;
 	color:white;
 	font-weight: bold;
 	
}


#bepumireview{
	
	font-size:12px;
}

#info1
{
	/*   z-index:99; */
	  position:absolute;
	  top:240px;
	  left:0px;
	/*   height:calc(100% - 60px);
	  height:calc(100% - 60px); */
	  font-family : 돋움, Arial, sans-serit;
		font-size:14px;
		text-align: left;
	  height:auto;
	  width:240px;
	  display:inline-block;
	  padding-top:8px;
   color:#292929;
   font-weight: bold;
}

#info1 p{	
	 width: fit-content;
	 float:left;
	 margin: 0 5px;
	  color:#292929;
	  font-weight: bold;
}

#info1 p:first-child{
	left-margin:0px;
	 color:#292929;
	 font-weight: bold;
	}
	
#info2 {
	 padding:0 2.5px;
	  position:absolute;
	  top:270px;
	  left:0px;
	  font-family : 돋움, Arial, sans-serit;
		font-size:14px;
		text-align: left;
	  height:60px;
	  width:240px;
	  display:inline-block;
	  font-weight: bold;
	
}


#bepuminame{
	 	 font-weight: bold;
 		width: fit-content;
 		font-size:15px;
	
}
.bepumi h1
{
 
  font-weight:300;
  margin:0;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}
.bepumi h2
{
  font-weight:100;
  margin:20px 0 0 0;
  font-style:italic;
   transform: translateX(200px);
}

	
/*   font-weight:300;
  margin:20px 0 0 0;
  line-height: 25px;
  opacity:0;
  transform: translateX(-200px);
  transition-delay: 0.2s; */
