@charset "UTF-8";

.body {
    padding: 35px;
    background: rgba(96, 125, 139, 0.2);
}

.aside {
    width: 220px;
    box-sizing: border-box;
    background: #fff;
    padding: 10px 25px 25px 25px;
    font-size: 15px;
    float:left;
}

	.aside h1 {
	    font-size: 16px;
	    margin: 7px 0px;
	    padding: 0px;
	}
	
	.aside nav {
	    margin-top: 10px;
	    border-top: 1px solid #ebebeb;
	    padding: 5px;
	}
		.aside nav ul li {
		    padding-left: 5px;
		    margin-top: 2px;
		    font-size: 14px;
		}
		
.main {
    padding: 20px;
    background: white;
    float: left;
    width: 810px;
    box-sizing: border-box;
    margin: 0px 55px;
}


/* 기본 리스트 스타일 */
.table-container{
	margin:auto;
	width:95%;
}
.table-wrapper {
    width: 100%;
    margin-bottom: 10px;
}
/* .board-table {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    border-collapse: collapse;
} */

.board-table {
    box-sizing: border-box;
    display: table;
    margin: auto;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}
	.board-table .table-header {
	    border-top: 1px solid rgb(214, 214, 214);
	    background: rgba(125, 125, 125, 0.07);
	    line-height: 30px;
	    font-size: 12px;
	}
	/* .board-table .row {
	    display: flex;
	    border-bottom: 1px solid #f3f3f3;
	    font-size: 13px;
	    flex-direction: row;
	} */
	
	.board-table .row {
	    display: table-row;
	    border-bottom: 1px solid #f3f3f3;
	    font-size: 13px;
	}
		.board-table .cell {
			display:table-cell;
		    padding: 8px 10px;
		    box-sizing: border-box;
		}
		
		.board-table .w60 {
		    width:60px;
		}
		
		.board-table .w80 {
		    width:80px;
		}
		.board-table .w100{
			width:100px;
		}
		
		.board-table .w120{
			width:120px;
		}
		
		
		.board-table .title {
		    white-space: nowrap;
		    overflow: hidden;
		    text-overflow: ellipsis;
		    text-align: left;
		}
		
		.paging-container {
			display: inline-flex;
		    margin: auto;
		    margin-top:14px;
		    font-size:14px;
		}
		.paging-container div {
		    padding: 0px 8px;
		}
		
		.paging-container div a,
		.paging-container ul li a
		{
			color: #999;
		}
		
		.paging-container ul li {
		    float: left;
		    padding: 0px 8px;
		}
		
		.paging-container .page-present{
			color:black;
		}
		
		
		.btn{
			display: inline-block;
		    padding: 4px 10px;  
		    font-size: 12px;
		    border: 1px solid #d6d6d6;
		    border-radius: 3px;
		}
		.btn:hover{
			box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
		}
		.reg-btn {
		    float: right;
		}
		.reg-btn a{
			color:#505050;
		}
		
		
/* reg부분 */

.reg-container {
    padding: 30px 30px 15px 30px;
    /* display: inline-block; */
    width: 714px;
    /* margin: auto; */
    /* background: #fdf3f5; */
    border-radius: 11px;
}

.reg-form{
	display: flex;
    flex-direction: column;
    margin: auto;
}
.reg-form > input[type="text"] {
    line-height: 30px;
    border: 1px solid #a2a2a2;
    border-radius: 3px;
    margin-bottom: 21px;
    padding-left: 7px;
}


.reg-form > textarea {
    border-radius: 3px;
    resize: none;
    font-size: 14px;
    padding: 7px;
}


.sec-container {
    text-align: left;
    margin-top: 8px;
    font-size: 13px;
}
	.sec-btn-container, 
	.sec-key-container{
		display: flex;
		flex-direction: row;
	}
	
	.sec-header{
		width:80px;
		text-align: center;
	}
	
	#sec-btn {
	    margin-left: 9px;
	}		
	.sec-key-container {
	    margin-top: 8px;
	}

.reg-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 10px;
}
	.reg-btn-container .reg-btn{
		background: white;
	    border: 1px solid #a2a2a2;
	    padding: 5px 15px;
	    border-radius: 3px;
	}
.reg-cancel {
    margin-left: 10px;
}

/*detail 부분*/
.detail-container {
    text-align: left;
    margin-bottom : 10px;
}

.tr-info {
    border-bottom: 1px solid rgba(214, 214, 214, 0.7);
    border-top: 1px solid rgba(214, 214, 214, 0.7);
    background: rgba(228, 228, 228, 0.3);
    line-height: 35px;
    padding: 0px 10px;
}
	.tr-info .title{
		font-size:14px;
		float:left;
		font-weight:600;
	}
	
	.tr-info .reg-date{
		font-size:12px;
		float:right;	
	}
	
		.reg-date.date-wrapper span {
		    padding-left: 10px;
		}
	
.wch-info {
    background: rgb(251, 251, 251);
    line-height: 29px;
    font-size: 13px;
    padding: 0px 10px;
}
	 .wch-info  .writer {
    	float: left;
	}
	.ch-wrapper{
		float: right;
	}
		.ch-wrapper .hit {
		    margin-left: 10px;
		}	
	
	.detail-content {
	    padding: 30px 10px;
	    font-size: 14px;
	}
	
	.ed-wrapper{
		float:right;
		padding-right:5px;
	}
/*댓글 부분*/
.cmt-container{
	border-top: 1px solid rgba(214, 214, 214, 0.7);
}
.cmt-row {
    text-align: left;
    padding: 15px;
    font-size: 13px;
}
.cmt-row {
	border-top: 1px solid rgba(214, 214, 214, 0.7);
}
.cmt-row:first-child {
	border-top: 0px;
}

	.cmt-info {
	    margin-bottom: 5px;
	}	
		.cmt-info span:first-child ~ span {
		    margin-left: 10px;
		    font-size: 12px;
		    color: #515151;
		}
	.cmt-row .cmt-btn-wrapper {
	    display: inline-block;
	    float: right;
	}	
	.cmt-row .btn-a {
	    border: none;
	    background: none;
	    font-size: 12px;
	    padding: 0px 1px;
	    color: #8b8888;
	    font-family: 맑은 고딕, 고딕, sans-serif;
	}	
		
.cmt-reg {
    display: flex;
}
	.cmt-reg textarea {
	    resize: none;
	    width: 90%;
	    height: 60px;
	    border-radius: 6px;
	    overflow: auto;
	}	
	
	.cmt-reg .comment-btn {
	    display: inline-block;
	    padding: 0px 30px;
	    font-size: 12px;
	    border: 1px solid #d6d6d6;
	    border-radius: 3px;
	    margin-left: 16px;
	}

/*테이블부분*/
.td {
    border-left: 1px solid #a2a2a2;
    text-align: left;
    padding: 0px 10px;
}
.cell {
    display: table-cell;
        line-height: 28px;
    font-size: 14px;
}
.row {
    display: table-row;
}

.cell.th1{
	width:300px;
}


/*request-list-detail 부분*/

.profile-detail-table.request {
	margin-top: 40px;
	margin-bottom: 50px;
	text-align: left;
    width: auto;
    display: inline-block;
}

.document-detail-table.request {
    margin-top: 40px;
    margin-bottom: 60px;
    text-align: left;
    width: auto;
    display: inline-block;
}

