@charset "UTF-8";


.main{
	padding:40px;
}

.main h3{
	padding-bottom: 30px;
}


/* list 부분 */
.table-container{
	width:80%;
	margin:auto;
}
.table-wrapper {
    width: 100%;
    margin-bottom: 10px;
}
.board-table {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    border-collapse: collapse;
}
	.board-table .table-header {
		border-top: 1px solid #ec93a9;
		background: #fdf3f5;
		line-height: 30px;
		font-size:12px;
	}
	.board-table .row {
	    display: flex;
	    border-bottom: 1px solid #f3f3f3;
	    font-size: 13px;
	    flex-direction: row;
	}
		.board-table .cell {
		    padding: 8px 10px;
		}
		.board-table .no{
			width:8%;
		}
		
		.board-table .title {
		    width: 60%;
		    white-space: nowrap;
		    overflow: hidden;
		    text-overflow: ellipsis;
		}
		.board-table .title-content{
			text-align: left;
		}
		.board-table .writer-id{
			width:10%;
		}
		.board-table .reg-date{
			width:12%;
		}
		
		.board-table .hit{
			width:10%;
		}
/* ------------------------------------------------ */		
		.search-form-container {
		    text-align: left;
		    margin-top: 29px;
		}		
			.search-form-container .search-form{
				display: flex;
				flex-direction: row;
			}
			.search-form-container .search-btn-img{
				background: url(../images/search-icon.png) no-repeat center;
			    width: 30px;
			    height: 30px;
			    background-size: 18px;
			    text-indent: -999px;
			    border: none;
			}

		
/* ------------------------------------------------ */
		.paging-container {
			display: inline-flex;
		    margin: auto;
		    margin-top:14px;
		    font-size:14px;
		}
		.paging-container div {
		    padding: 0px 8px;
		}
		
		.paging-container div a,
		.paging-container ul li a
		{
			color: #999;
		}
		
		.paging-container ul li {
		    float: left;
		    padding: 0px 8px;
		}
		
		.paging-container .page-present{
			color:black;
		}
		
		
		.btn{
			display: inline-block;
		    padding: 4px 10px;  
		    font-size: 12px;
		    border: 1px solid #d6d6d6;
		    border-radius: 3px;
		}
		.btn:hover{
			box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
		}
		.reg-btn {
		    float: right;
		}
		.reg-btn a{
			color:#505050;
		}
		
		
		
/* detail 부분 */
.detail-container {
    text-align: left;
}

.tr-info {
    border-bottom: 1px solid rgba(214, 214, 214, 0.7);
    border-top: 1px solid rgba(214, 214, 214, 0.7);
    background: rgba(228, 228, 228, 0.3);
    line-height: 35px;
    padding: 0px 10px;
}
	.tr-info .title{
		font-size:14px;
		float:left;
		font-weight:600;
	}
	
	.tr-info .reg-date{
		font-size:12px;
		float:right;	
	}
	
.wch-info {
    background: rgb(251, 251, 251);
    line-height: 29px;
    font-size: 13px;
    padding: 0px 10px;
}
	 .wch-info  .writer {
    	float: left;
	}
	.ch-wrapper{
		float: right;
	}
	.detail-content {
	    padding: 30px 10px;
	    font-size: 14px;
	}
	
	.ed-wrapper{
		float:right;
		padding-right:5px;
	}
/* reg 부분 */
.reg-container {
    padding: 30px 30px 15px 30px;
    display: inline-block;
    width: 80%;
    margin: auto;
    background: #fdf3f5;
    border-radius: 11px;
}

.reg-form{
	display: flex;
    flex-direction: column;
    margin: auto;
}
.reg-form > input[type="text"] {
    line-height: 30px;
    border: 1px solid #a2a2a2;
    border-radius: 3px;
    margin-bottom: 21px;
    padding-left: 7px;
}


.reg-form > textarea {
    border-radius: 3px;
    resize: none;
}


.sec-container {
    text-align: left;
    margin-top: 8px;
    font-size: 13px;
}
	.sec-btn-container, 
	.sec-key-container{
		display: flex;
		flex-direction: row;
	}
	
	.sec-header{
		width:80px;
		text-align: center;
	}
	
	#sec-btn {
	    margin-left: 9px;
	}		
	.sec-key-container {
	    margin-top: 8px;
	}

.reg-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 10px;
}
	.reg-btn-container .reg-btn{
		background: white;
	    border: 1px solid #a2a2a2;
	    padding: 5px 15px;
	    border-radius: 3px;
	}
.reg-cancel {
    margin-left: 10px;
}

/* edit 부분 */


/* del 부분 */






