@charset "UTF-8";

.main {
	text-align: unset;
	padding: 50px;
	padding-bottom: 100px;
}

/* --------------progress------------------ */
.certfi-container {
	margin-left: 10px;
	margin-top: 40px;
	padding-left: 50px
}

.main>h3 {
	font-size: 25px;
	margin-left: 71px;
	padding-bottom: 30px;
}

.document-container{
	margin-top: 50px;
}

.document-wrapper {

	padding-left: 50px;
    margin: 30px 0px;
 /*    width: max-content; */

}

	.document-wrapper div{
		margin-left:1px;
		margin-bottom:10px;
	}
	
.title-box{
		text-align:center;
		width:200px;
		padding:10px;
		
}
	.self-certification{
	    font-weight: bold;
	    padding-left: 70px;
 	    line-height: 45px;
		height: 50px;
		margin-left:51px;
		background: url(../images/icon-self-certification.png) no-repeat left center;
	}
	
	.self-certification-check{
		border: 1px solid #e0e0e0;
	    border-radius: 5px;
	    float: left;
	    width: 75%;
	    text-align: center;
   		padding: 10px;
   		margin-left: 40px;
    	margin-top: 20px;
	}
	
	.document-certification{
	    font-weight: bold;
	    padding-left: 70px;
  		line-height: 45px;
		height: 50px;
		margin-left:51px;
		background: url(../images/icon-document-certification.png) no-repeat left center;
	}
	.document-certification1{
		margin-left: 120px;
		font-size: 10px;
		color:red;
	}
	
	.dc-name{
		border: 1px solid #e0e0e0;
   		border-radius: 10px;
		float:left;
	}

	.edit-box-container{
		float: left;
	    line-height: 23px;
	    vertical-align: middle;
	    margin-right: 5px;
	    width: 46px;
	    padding-top: 10px;
	}
		.edit-box-wrapper{
			  width: max-content;
  			  display: flex;	
		}
		.edit{
			box-sizing: border-box;
		    border: 1.989px outset rgb(221, 221, 221);
		    text-decoration: none;
		    display: inline-block;
		    font-family: Arial;
		    font-size: 13.3333px;
		    height: 24.1477px;
		    letter-spacing: normal;
		    line-height: normal;
		    padding: 1px 6px;
		    text-align: center;
		    text-rendering: auto;
		    width: 45px;
		    -webkit-appearance: button;
		}

.progress {
    display: inline-block;
    background: url(../images/status_bg.png) no-repeat border-box;
}
		
	.progress span {
	    border-radius: 6px;
 	    padding: 10px;
	    margin-left: 7px;
	    background:white;
	}

	.progress span:first-child {
	    margin-left: 10px;
	}
	
		.progress .progress-status{
			background: #fbe5d6;
			    display: -webkit-inline-box;
		}		
	

.editBtn + label {
    display: inline-block;
    height: 25px;
    padding: 0 14px 0;
    margin-left:10px;
    border: 1px solid #4c9aa0;
    background-color: #4c9aa0;
    font-size: 13px;
    color: #fff;
    line-height: 25px;
    width: max-content;
}

.editBtn {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0
}


		/* 재심사필요 팝업 */

.pop-conts{
	
}
.pop-layer .pop-container {
  padding: 20px 25px;
}

.pop-layer p.ctxt {
  color: #666;
  line-height: 30px;
}

.pop-layer .btn-r {
  width: 100%;
  margin: 10px 0 20px;
  padding-top: 10px;
  border-top: 1px solid #DDD;
  text-align: right;
}

.pop-layer {
 /*  display: none; */
  position: absolute;
  top: 50%;
  left: 50%;
  height: auto;
  background-color: #fff;
  border: 5px solid #51567b;
  z-index: 10;
}

.dim-layer {
  display: none;
  position: fixed;
  _position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.dim-layer .dimBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .5;
  filter: alpha(opacity=50);
}

.dim-layer .pop-layer {
  display: block;
}

a.btn-layerClose {
  display: inline-block;
  height: 25px;
  padding: 0 14px 0;
  border: 1px solid #304a8a;
  background-color: #3f5a9d;
  font-size: 13px;
  color: #fff;
  line-height: 25px;
}

a.btn-layerClose:hover {
  border: 1px solid #091940;
  background-color: #1f326a;
  color: #fff;
}









/* ---------request--------- */
.req-progress-container {
	width: 760px;
	margin: 20px auto;
}

.req-progress-wrapper {
	display: inline-block;
}

.req-progress {
	float: left;
	width: 190px;
	background: url(../images/allow-bg.png) no-repeat center;
	background-size: contain;
	opacity: 0.5;
}

.req-progress p {
	text-align: center;
	color: white;
	margin: 10px;
}

.step {
	font-size: 20px;
}

.present {
	opacity: 1;
}

.agreement-container {
	padding: 30px;
	width: 660px;
  	margin: auto;
	padding:30px;
}

.bepumi-agreement {
	width: 660px;
	margin: auto;
	margin-bottom: 10px;
}

.agree-title {
	height: 44px;
	width: 660px;
	box-sizing: border-box;
	border: 1px solid #c8ccd0;
	border-bottom: 0;
	padding: 10px;
}

.agree-title .type {
	margin: 0 10px;
}

.red {
	color: red;
}

.check-container {
	display: inline-block;
}

.check-container.fr {
	float: right;
}

.check-container input[type="checkbox"] {
	-webkit-appearance: none;
	width: 21px;
	height: 21px;
	background: url(../images/unchecked-checkbox.png) no-repeat;
	background-size: contain;
}

.check-container input[type="checkbox"]:checked {
	background: url(../images/checked-checkbox.png) no-repeat center;
	background-size: contain;
}

.check-container input[type="checkbox"]:focus {
	outline: none;
}

.agreement-content {
	font-size: 14px;
	color: #3b4045;
	background: #FFF;
	border: 1px solid #c8ccd0;
	height: 200px;
	overflow: auto;
}

.noticeBox {
	padding-left: 20px;
	padding-right: 20px; position : relative;
	border: 1px solid #f4ded4;
	margin: 10px;
	position: relative;
}

.nb10 {
	margin-bottom: 10px !important;
}

.pd_t10 {
	padding-top: 10px !important;
}

.pl15 {
	padding-left: 15px !important;
	padding-right: 15px !important;
}

p {
	line-height: 1.6;
}

div {
	display: block;
}

.con {
	padding: 10px
}

.brd2 {
	padding: 10px;
	border: 1px solid #dfdfdf;
	
}

.agree-btn-container {
	float: right;
    width: fit-content;
    margin: auto;
    text-align: right;
    margin-top: 30px;
}

	.agree-btn-container.request {
	    float: none;
	    margin-top: 60px;
	}

.agree-btn-container a{
	color:white;
	font-weight: bold;
}
.agree-btn-container {
  background: rgba(255, 146, 36, 0.5);
  background-image: -webkit-linear-gradient(top, #ff9224, #ff9224);
  background-image: linear-gradient(to bottom, rgba(254, 192, 130, 0.49), rgba(253, 185, 117, 0.5));););
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  color: #ffffff;
  font-size: 13px;
      padding: 8px 17px;
  text-decoration: none;
}

.agree-btn-container:hover {
  background: #ffdea6;
  background-image: -webkit-linear-gradient(top, #ffdea6, #ffdea6);
  background-image: -moz-linear-gradient(top, #ffdea6, #ffdea6);
  background-image: -ms-linear-gradient(top, #ffdea6, #ffdea6);
  background-image: -o-linear-gradient(top, #ffdea6, #ffdea6);
  background-image: linear-gradient(to bottom, #ffdea6, #ffdea6);
  text-decoration: none;
}


.check-container {
	display: flex;
	align-items: center;
	width: max-content;
	float: left;
}

/* --------------submit-------------- */

.row{
	display:table-row;
}

.throw{
	border-bottom: 1px solid #e6e6e6;	
}

.cell{
		display:table-cell;
		padding: 15px 10px;
	}
	
.td{
	}
	
.th{
	background: url(../images/icon-check.png) no-repeat left content-box;
	font-weight: bold;
}
	
.submit-table-container{
    width: 80%;
    margin: auto;
    margin-top: 35px;
    padding-top: 15px;
    text-align:center;
}	

.submit-table{
	display: table;
    box-sizing: border-box;
    border: 1px solid rgba(162, 162, 162, 0.28);
    border-left: none;
    border-right: none;
    width: 100%;
    margin: auto;
    margin-top: 15px;
    line-height: 31px;
    font-size: 14px;
    padding: 20px 1px;
}
			
.submitBtn + label{
	display: inline-block;
    height: 25px;
    padding: 2px 14px ;
    margin-left:10px;
    font-size: 13px;
    color: #fff;
    line-height: 25px;
    width: max-content;
    border-radius: 3px;
    background-color: #a2a2a2;
    
}
	.submitBtn{
		position: absolute;
	    width: 1px;
	    height: 1px;
	    padding: 0;
	    margin: -1px;
	    overflow: hidden;
	    clip: rect(0,0,0,0);
	    border: 0
	}		
		






/*---------------- complete --------------------*/

.complete-container {
    width: 700px;
    padding: 50px;
    margin: auto;
}
	.complete-container h3 {
	    font-size: 23px;
	}		
		
	.complete-container p {
	    padding-left: 20px;
	    color: #474646;
	}

	.complete-container div{
		width:max-content;
		margin:auto;
	}
