@charset "UTF-8";


.main{
	padding:40px;
	margin-bottom: 30px;
}

.main h3{
	padding-bottom: 30px;
}

/* 베푸미쪽 list 부분 */

.table-container{
	width:80%;
	margin:auto;
}
.table-wrapper {
    width: 100%;
    margin-bottom: 10px;
}
.board-table {
    box-sizing: border-box;
    display: table;
    margin: auto;
    width: 100%;
    border-collapse: collapse;
}
	.list-arr {
	    margin-bottom: 10px;
	    text-align: left;
	}
	.list-arr nav {
	    display: inline-block;
	}
	.list-arr nav ul li {
	    float: left;
	    border: 1px solid #ec93a9;
	    padding: 5px;
	    font-size: 13px;
	    border-radius: 3px;
	    margin-left: 4px;
    }
    .list-arr nav ul li:first-child {
        margin-left: 0px;
    }
	.board-table .table-header {
		display:table-header-group;
		border-top: 1px solid #ec93a9;
		background: #fdf3f5;
		line-height: 30px;
		font-size:12px;
	}
	.board-table .row {
	    display: table-row;
	    border-bottom: 1px solid #f3f3f3;
	    font-size: 13px;
	    flex-direction: row;
	}
		.board-table .cell {
			display:table-cell;
		    padding: 8px 10px;
		}
		.board-table .w80{
			width:80px;
		}
		
		.board-table .w100{
			width:100px;
		}
		
		.board-table .w120{
			width:120px;
		}
		
		.reg-btn {
		    display: inline-block;
		    padding: 5px 10px;
		    float: right;
		    font-size: 12px;
		    border: 1px solid #f5bbc9;
		    border-radius: 3px;
		}
		.reg-btn a{
			color:#505050;
		}


/* 베푸미쪽 detail 부분 */





/* 베푸미쪽 detail 하단 부분 */

.rb-container {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
    text-align: left;
}
	.rb-container .req-date {
	    display: flex;
	    flex-direction: column;
	    margin: 10px 30px;
	}
		.rb-container .req-date span, .rb-container .bepum-date span {
		    font-size: 15px;
		    line-height: 22px;
		}

	.rb-container .bepum-date {
	    margin: 10px 0px;
	    border-left: 1px solid #a2a2a2;
	    padding: 0px 40px;
	    flex-grow: 1;
	}
		.rb-container .bepum-time {
		    display: flex;
		    flex-direction: row;
		    justify-content: space-between;
		    width: 100%;
		}
		

.req-info-container h3, 
.baby-info-container h3{
    text-align: left;
    font-size: 15px;
    padding-bottom: 0px;
    padding-left: 30px;
    margin-left: 100px;
    margin-bottom: 8px;
    font-weight: 500;
    background: url(../images/dot.png) no-repeat left center;
}
	
	.req-info-container{
		width: 80%;
	    border-top: 1px solid #e6e6e6;
	    margin: auto;
	    margin-top: 35px;
	    padding-top: 15px;
	}
	
	.bepumi.baby-info-container {
	    width: 80%;
	    border-top: 1px solid #e6e6e6;
	    margin: auto;
	    margin-top: 35px;
	    padding-top: 15px;
	}

.req-container{
	box-sizing: border-box;
	width:80%;
	border: 1px solid #a2a2a2;
	margin: auto;
	padding: 10px;
}

.baby-info-table {
    display: table;
    box-sizing: border-box;
    border: 1px solid #a2a2a2;
    width: 80%;
    margin: auto;
    line-height: 31px;
    font-size: 14px;
}
	.row{
		display:table-row;
	}
	
	.cell{
		display:table-cell;
	}
	
		.td{
			border-left:1px solid #a2a2a2;
			text-align:left;
			padding: 0px 10px;
		}
	

/* 신청자 쪽 list 부분 */
.matching-progress-container{
    width: 800px;
    height:160px;
    margin: 20px auto;
}
	.matching-progress-wrapper{
		display: inline-block;
		position:relative;
	}

	.matching-progress {
		position:relative;
	    width: 160px;
	    height: 160px;
	    background: url(../images/list-circle.png) no-repeat center;
	    background-size: contain;
	    opacity: 0.5;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    float:left;
	    cursor: pointer;
	}
	
		.step1-container{
			left:30px;
		}
		
		.step2-container{
			left:15px;
		}
		
		.step3-container{
			left:0px;
		}
		
		.step4-container{
			left:-15px;
		}
		
		.step5-container{
			left:-30px;
		}
		.matching-progress p{
			text-align: center;
			color:white;
			margin: 10px;
		}
		
		
			.step {
			    font-size: 20px;
			}
	
			.present{
				opacity: 1;
			}
			
			
/* 신청자 쪽 detail 상단 부분*/		
.profile-container{
	display: flex;
	justify-content: center;
}

.member.profile-img {
	width:400px;
}

.profile-btn-wrapper{
	display: flex;
	justify-content: center;
}

.btn-profile-container a{
    display: block;   
    text-decoration: none;
    background: url("../images/btn-profile.png") ;
	width:35px;
	height:27px;
	border: none;
	margin-left:10px;
}

.btn.msg-btn{
	background: url("../images/btn-message.png") ;
	width:35px;
	height:27px;
	border: none;
	margin-right:10px;
}
/* .btn.profile-btn{
	background: url("../images/btn-profile.png") ;
	width:35px;
	height:27px;
	border: none;
	margin-left:10px;
} */


.profile-detail {
    align-self: center;
}

.profile-detail-table {
    display: table;
    box-sizing: border-box;
    width: 400px;
    margin: auto;
    line-height: 28px;
    font-size: 14px;
    margin-top: 15px;
}

	

/* 신청자 쪽 detail 하단 부분*/

.member.rb-wrapper{
	width:80%;
	margin:auto;
	margin-top: 35px;
    padding-top: 25px;
    border-top: 1px solid;
    border-top-color: #e9e9e9;
}

.member.rb-container {
    width: 70%;
}

.member.bepum-date{
	width:100px;
}

.member.ongoing-bottom{
	width: 80%;
	display: flex;
	justify-content: center;
	margin:auto;
	margin-top: 35px;
	padding-top: 25px;
	border-top: 1px solid;
	border-top-color: #e9e9e9;
}

.pay-info-container h3 {
    text-align: left;
    font-size: 15px;
    padding-bottom: 0px;
    padding-left: 30px;
    margin-left:30px;
    margin-bottom: 8px;
    font-weight: 500;
    background: url("../images/dot.png") no-repeat left center;
}

.member.pay-info-container {
	width:400px;
}

.pay-info-table {
    display: table;
    box-sizing: border-box;
    border: 1px solid #a2a2a2;
    width: 80%;
    margin: auto;
    line-height: 31px;
    font-size: 14px;
    margin-top: 15px;
}

.member.baby-info-container h3 {
    text-align: left;
    font-size: 15px;
    padding-bottom: 0px;
    padding-left: 30px;
    margin-left:30px;
    margin-bottom: 8px;
    font-weight: 500;
    background: url("../images/dot.png") no-repeat left center;
}

.member.baby-info-container {
	width:400px;
}

.member.baby-info-table {
	margin-top: 15px;
}

.btn {
    display: inline-block;
    padding: 4px 10px;

    font-size: 12px;
    border: 1px solid #d6d6d6;
    border-radius: 3px;
}

.pay-btn{
	float: right;
	margin-right: 170px;
    margin-top: 20px;
}

/* 과거 매칭 detail 하단 */

.past-container h4 {
	text-align: left;
	font-size: 15px;
	padding-bottom: 0px;
	padding-left: 108px;
	margin-bottom: 8px;
	font-weight: 500;
}

.table-wrapper {
	width: 100%;
	margin: auto;
	display: inline-table;
}

.past-table {
	box-sizing: border-box;
	width: 80%;
	min-height: 150px;
	display: table;
	font-size: 13px;
	border-collapse: collapse;
	/* margin-left: 30px; */
	margin: auto;
}

.past-table .row {
	min-height: 100px;
	display: table-row;
	border-bottom: 1px solid #ec93a9;
	border-top: 1px solid #ec93a9;
}

.past-table .cell1 {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	background: #fdf3f5;
}

.past-table .cell2 {
	display: table-cell;
	border-left: 1px solid #ec93a9;
	vertical-align: middle;
	padding-left: 10px;
	padding-right: 10px;
	text-align: left;
}

.past-table textarea {
	margin: 0;
	padding: 10px 10px 10px 0px;
	border: 0;
	outline: none;
	resize: none;
	width: 100%;
	font-family: Malgun Gothic;
}

.review-detail-container h4 {
	text-align: left;
	font-size: 15px;
	padding-bottom: 0px;
	padding-left: 108px;
	margin-bottom: 8px;
	font-weight: 500;
}

.review-container{
	border-top: 1px solid;
	border-top-color: #e9e9e9;
	box-sizing: border-box;
	height: 10%;
	width:80%;
	border: 1px solid #a2a2a2;
	margin: auto;
	padding: 10px;
	border: 1px solid #ec93a9
}
