@charset "UTF-8";

/* 기본  width:1140px  */

h3 {
    padding-bottom: 30px;
    border-bottom: 2px solid #a2a2a2;
    width: max-content;
    margin: auto;
    margin-bottom: 50px;
}

.bg-profile-header{
	width:100%;
	height:250px;
	background: rgba(255, 171, 121, 0.09);
}

	.btn-header{
		display: flex;
	    float: right;
	    position: relative;
	    top: 10px;
	    right: 70px;
	}
		.btn-header form{
			display:inline-block;
		}
		.sec-btn {
			margin-right: 5px;
		    box-sizing: border-box;
		    border-radius: 5px;
		    padding: 8px 15px;
		    text-decoration: none;
		    text-decoration-line: none;
		    text-decoration-style: initial;
		    text-decoration-color: initial;
		    border: 0;
		    background: rgba(0, 0, 0, 0.31);
		    background-image: -webkit-linear-gradient(top, #ff9224, #ff9224);
		    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(253, 185, 117, 0));
		    width: fit-content;
		    height: 30px;
		    line-height: 1px;
		    font-size: 14px;
		    color: white;
		}
		
		.edit {
		    border: none;
		    text-decoration: none;
		    display: inline-block;
		    font-family: Arial;
		    font-size: 13px;
		    letter-spacing: normal;
		    line-height: normal;
		    padding: 1px 6px;
		    text-align: center;
		    text-rendering: auto;
		    box-sizing: border-box;
		    border-radius: 5px;
		    text-decoration: none;
		    text-decoration-line: none;
		    text-decoration-style: initial;
		    text-decoration-color: initial;
		    font-size: 14px;
		    line-height: 15px;
		    color: white;
		}

		.bepum-definite-wrapper {
		    width: 300px;
		    height: 50px;
		    position: relative;
		    top: 200px;
		    float: right;
		    right: -80px;
		}
		.bepum-definite-wrapper p{
			text-align: right;
			font-size: 12px;
			font-weight: bold;
		}
		
		.bepum-definite-wrapper span{
		    font-size: 25px;
		}

/* 중간 부분 */


	/* 중간 부분 -1 */
	.profile-member-container{
		height: 280px;
	}
	    
		.profile-member-wrapper {
		    position: relative;
		    top: -110px;
		    width: max-content;
		    height: max-content;
		    text-align: center;
		    margin: auto;
		}
			/*프로필 부분*/
			.profile-member-wrapper img{
				width:200px;
				height:200px;
				border-radius:50%;
			} 
				.profile-box{
					display:block;
				}
				.profile-box label{
					box-sizing: border-box;
				    border: 1.989px outset rgb(221, 221, 221);
				    text-decoration: none;
				    background: rgb(221, 221, 221);
				    display: inline-block;
				    font-family: Arial;
				    font-size: 13.3333px;
				    height: 24.1477px;
				    letter-spacing: normal;
				    line-height: normal;
				    padding: 1px 6px;
				    text-align: center;
				    text-rendering: auto;
				    width: 100px;
				    -webkit-appearance: button;
				}
				
				#profile-img-edit-btn{
					 position: absolute;
					 width: 1px;
					 height: 1px;
					 padding: 0;
					 margin: -1px;
					 overflow: hidden;
					 clip:rect(0,0,0,0);
					 border: 0;
				}
				
				#name {
				    font-size: 30px;
				    font-weight: 600;
				}
				
		.home-photo-container {
		    text-align: center;
		    padding: 50px;
		    border-bottom: 1px solid rgba(162, 162, 162, 0.3);
		    
		    width: 65%;
  			margin: auto;
  			margin-top: 40px;
  			box-sizing: border-box;
		}
			.home-photo-wrapper{
				height:80px;
			    display: inline-block;
			    overflow:auto;
			}
				.home-photo{
					display:inline-block;
					width:120px;
					height:80px;
					background: #fdf3f5;
					float: left;
	 			    margin-left: 7px;
	 			    text-align: initial;
				}
				.home-photo img {
				    width: inherit;
				    height: inherit;
				}
				.home-photo:first-child{
	 			    margin-left: 0px;
				}
					
					.home-preview{
						display: none;
					}
					
					.home-photo label{
						padding: 0;
					    margin: 0;
					    position: relative;
					    top: 15px;
					    left: 35px;
					}
						.home-photo label img {
							width:50px;
							height:50px;
							visibility: hidden;
						}
						.home-photo label:hover img{
							visibility: visible;
						}
					.home-photo input[type="file"]{		
						position: absolute;
					    width: 1px;
					    height: 1px;
					    padding: 0;
					    margin: -1px;
					    overflow: hidden;
					    clip: rect(0,0,0,0);
					    border: 0;
					}
					
.time-table {
    border-bottom: 1px solid rgba(162, 162, 162, 0.3);
    padding: 50px;
    width: 65%;
    margin: auto;
    box-sizing: border-box;
}
	.bepumi-day {
    	font-size: 18px;
    	display: inline-block;
    	color:gray;
	}
	.bepumi-day  .on {
		color:black;
		font-weight: bold;
	}
	.bepumi-day label {
    	color:gray;
	}

 	.bepumi-day input[type="checkbox"]{
		position: absolute;
	    width: 1px;
	    height: 1px;
	    padding: 0;
	    margin: -1px;
	    overflow: hidden;
	    clip: rect(0,0,0,0);
	    border: 0;		
	} 

		}  
		.bepumi-day input[type="checkbox"] + label {
    		color:gray;
		}
		.bepumi-day input[type="checkbox"]:checked + label {
			color:black;
		}

		.bepumi-time span {
		    font-size: 30px;
		}
/* 프로필 하단 */

.table-container {
    box-sizing: border-box;
    width: 65%;
    margin: auto;
    padding: 50px 0px;
    border-bottom: 1px solid rgba(162, 162, 162, 0.3);
}

.table-wrapper {
    width: 100%;
    margin: auto;
}
	.intro-table{
		box-sizing:border-box;
		width:90%;
		min-height : 150px;
		display:table;
		font-size: 13px;
		border-collapse: collapse;
		margin-left: 30px;
	}
	
		.intro-table .row{
			min-height:100px;
			display: table-row;
			border-bottom: 1px solid #ec93a9;
			border-top: 1px solid #ec93a9;
		}
		
			.intro-table .cell1{
				display: table-cell;
				text-align:center; 
		        vertical-align:middle;
		        font-weight:bold;
		        background: #fdf3f5;
			}
			.intro-table .cell2{
				display: table-cell;
				border-left: 1px solid #ec93a9;
				vertical-align:middle;
				padding-left: 10px;
				padding-right: 10px;
				text-align: left;
			}
			
			.intro-table textarea{
				margin:0; 
				padding: 10px 10px 10px 0px; 
				border:0; 
				outline:none;
				resize: none;
				width:100%;
				font-family: Malgun Gothic;
			}
			.profile-num {
			    padding: 0;
			    width: 75px;
			    height: 35px;
			    background: transparent;
			    outline: 0;
			    border: none;
			    border: 1px solid black;
			    text-align: center;
			    font-size: 25px;
			}
			
.chart-container {
    box-sizing: border-box;
    width: 65%;
    height: 300px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}
	.chart-wrapper {
	    width: 340px;
	    height: 180px;
	    margin: auto;
	}
		.chart-wrapper-default{
        	width: 140px;
		    height: inherit;
        }
		.request-chart-wrapper{
			float:left;
		}
        .success-chart-wrapper {
		    margin-left: 200px;
		}
			.chart-default {
			    width: 140px;
			    height: 140px;
			    background: #a2a2a2;
			    border-radius: 50%;
			    position: absolute;
			    overflow: hidden;
			}
				.chart1 {
				    clip: rect(0 140px 70px 0);
				    transform: rotate(90deg);
				    width: 100%;
				    height: 100%;
				    position: absolute;
				}
				.chart2 {
				    clip: rect(0 140px 70px 0);
				    transform: rotate(90deg);
				    width: 100%;
				    height: 100%;
				    position: absolute;
				}
			
				.chart-center {
				    width: 100px;
				    height: 100px;
				    background: white;
				    border-radius: 50%;
				    position:absolute;
				    top:20px;
				    left:20px;
				    text-align: center;
				}
                .chart-center span {
				    position: relative;
				    top: 40px;
				}
				
				.chart-name {
				    position: relative;
				    top: 140px;
				}
				.chart-name2 {
				    position: relative;
				    top: 155px;
				}


.agree-btn-container {
	float: right;
    width: fit-content;
    margin: auto;
    text-align: right;
    margin-top: 30px;
}

	.agree-btn-container.request {
	    float: none;
	    margin-top: 60px;
	}

.agree-btn-container a{
	color:white;
	font-weight: bold;
}
.agree-btn-container {
  background: rgba(255, 146, 36, 0.5);
  background-image: -webkit-linear-gradient(top, #ff9224, #ff9224);
  background-image: linear-gradient(to bottom, rgba(254, 192, 130, 0.49), rgba(253, 185, 117, 0.5));););
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  color: #ffffff;
  font-size: 16px;
  padding: 8px 17px;
  text-decoration: none;
}

.agree-btn-container:hover {
  background: #ffdea6;
  background-image: -webkit-linear-gradient(top, #ffdea6, #ffdea6);
  background-image: -moz-linear-gradient(top, #ffdea6, #ffdea6);
  background-image: -ms-linear-gradient(top, #ffdea6, #ffdea6);
  background-image: -o-linear-gradient(top, #ffdea6, #ffdea6);
  background-image: linear-gradient(to bottom, #ffdea6, #ffdea6);
  text-decoration: none;
}