@charset "UTF-8";

/* 기본  width:1140px  */

#bg_profile_header{
	width:100%;
	height:300px;
	background: orange;
}

#btn_header{
	position:absolute;
	right:20px;
	top:10px;
	width:100px;
	height:30px;
	background:grey;
}

#bepum_definite_wrapper{
	width: 240px;
    height: 100px;
    background: red;
    position: relative;
    top: 180px;
    float: right;
    right: 20px;
}

/* 중간 부분 */

.profile_body{
	width:100%;
	min-height:250px;
	background:blue;
	border-bottom: 1px solid black;
}

.profile_body_left_container{
	width:55%;
	min-height:inherit;
	background:green;
	float:left;
	
}

.profile_body_right_container{
	width:45%;
	min-height:inherit;
	background:pink;
	float:left;
}

.clearfix{
	content:"";
	clear:both;
}


/* 중간 부분 -1 */
#profile_member_wrapper{
	position:absolute;
	top:200px;
	left:50px;
	background:maroon;
	width:300px;
	height:200px;
}

#home_photo{
	width:350px;
	height:80px;
	background:blueviolet;
}
