@charset "UTF-8";

/* 기본  width:1140px  */
body, html{
	padding:0px;
	margin: 0px;
}
#bg-profile-header{
	width:100%;
	height:300px;
	background: orange;
}

	#btn-header{
		float: right;
	    position: relative;
	    top: 10px;
	    right: 70px;
	    width: 120px;
	    height: 30px;
	}
		#edit {
		    box-sizing: border-box;
		    border: 1.989px outset rgb(221, 221, 221);
		    text-decoration: none;
		    display: inline-block;
		    font-family: Arial;
		    font-size: 13.3333px;
		    height: 24.1477px;
		    letter-spacing: normal;
		    line-height: normal;
		    padding: 1px 6px;
		    text-align: center;
		    text-rendering: auto;
		    width: 55.9517px;
		    -webkit-appearance: button;
		}
		#submit-btn{
		    box-sizing: border-box;
		    border: 1.989px outset rgb(221, 221, 221);
		    text-decoration: none;
		    background: rgb(221, 221, 221);
		    display: inline-block;
		    font-family: Arial;
		    font-size: 13.3333px;
		    height: 24.1477px;
		    letter-spacing: normal;
		    line-height: normal;
		    padding: 1px 6px;
		    text-align: center;
		    text-rendering: auto;
		    width: 100px;
		    -webkit-appearance: button;
		}
		#bepum-definite-wrapper {
		    width: 300px;
		    height: 100px;
		    position: relative;
		    top: 190px;
		    float: right;
		    right: -80px;
		}
		#bepum-definite-wrapper p{
			text-align: right;
			font-size: 12px;
			font-weight: bold;
		}
		
		#bepum-definite-wrapper span{
		    font-size: 25px;
		}

/* 중간 부분 */

.profile-body{
	width:100%;
	min-height:200px;
}

	.profile-body-left-container{
		width: 65%;
		min-height:inherit;
		float:left;
		
	}
	
	.profile-body-right-container{
		width:35%;
		min-height:inherit;
		float:left;
	}

	.clearfix::after{
		content:"";
		clear:both;
		display:block;
	}
	

	/* 중간 부분 -1 */
	#profile-member-wrapper{
		position:absolute;
		top:200px;
		left:50px;
		width:500px;
		height:200px;
	}
		/*프로필 부분*/
		#profile-member-wrapper img{
			width:200px;
			height:200px;
			border-radius:50%;
			float:left;
		} 
			.profile-box{
				display:inline-block;
				position: relative;
			    top: 110px;
			    left: 100px;
			}
			.profile-box label{
				box-sizing: border-box;
			    border: 1.989px outset rgb(221, 221, 221);
			    text-decoration: none;
			    background: rgb(221, 221, 221);
			    display: inline-block;
			    font-family: Arial;
			    font-size: 13.3333px;
			    height: 24.1477px;
			    letter-spacing: normal;
			    line-height: normal;
			    padding: 1px 6px;
			    text-align: center;
			    text-rendering: auto;
			    width: 100px;
			    -webkit-appearance: button;
			}
			
			#profile-img-edit-btn{
				 position: absolute;
				 width: 1px;
				 height: 1px;
				 padding: 0;
				 margin: -1px;
				 overflow: hidden;
				 clip:rect(0,0,0,0);
				 border: 0;
			}
		
		#name {
		    position: relative;
		    top: 28px;
		    left: 5px;
		    font-size: 30px;
		    font-weight: 600;
		}
		
		#address {
			position: relative;
		    top: 8px;
		    left: 10px;
		}
		
		#grade{
			position: relative;
			top:-2px;
		}
		
		#contact {
			position: relative;
		    left: -15px;
		    top: -10px;
		}
		
		#home-photos{
			height:80px;
		    position: relative;
		    top: 10px;
		    left: 10px;
		    display: inline-block;
		    overflow:auto;
		}
			.home-photo{
				display:inline-block;
				width:120px;
				height:80px;
				background:silver;
				float: left;
 			    margin-left: 7px;
			}
			.home-photo:first-child{
 			    margin-left: 0px;
			}
				
				.home-preview{
					display: none;
				}
				
				.home-photo label{
					padding: 0;
				    margin: 0;
				    position: relative;
				    top: 15px;
				    left: 35px;
				}
					.home-photo label img {
						width:50px;
						height:50px;
						visibility: hidden;
					}
					.home-photo label:hover img{
						visibility: visible;
					}
				.home-photo input[type="file"]{		
					position: absolute;
				    width: 1px;
				    height: 1px;
				    padding: 0;
				    margin: -1px;
				    overflow: hidden;
				    clip: rect(0,0,0,0);
				    border: 0;
				}
/* 프로필 하단 */
	#intro-table{
		box-sizing:border-box;
		width:90%;
		min-height : 150px;
		display:table;
		font-size: 13px;
		border-collapse: collapse;
		margin-left: 30px;
	}
	
		#intro-table .row{
			min-height:100px;
			display: table-row;
			border-bottom: 1px solid #808080;
			border-top: 1px solid #808080;
		}
		
			#intro-table .cell1{
				display: table-cell;
				text-align:center; 
		        vertical-align:middle;
		        font-weight:bold;
			}
			#intro-table .cell2{
				display: table-cell;
				border-left: 1px solid #808080;
				vertical-align:middle;
				padding-left: 10px;
			}
			
			textarea{
				margin:0; 
				padding: 10px 10px 10px 0px; 
				border:0; 
				outline:none;
				resize: none;
				width:100%;
				font-family: Malgun Gothic;
			}
			.profile-num {
			    padding: 0;
			    width: 75px;
			    height: 35px;
			    background: transparent;
			    outline: 0;
			    border: none;
			    border: 1px solid black;
			    text-align: center;
			    font-size: 25px;
			}
			
			
	#bepumi-chart{
		float:left;
	}
		#bepumi-request-chart {
		    width: 140px;
		    height: 140px;
		    background: #a2a2a2;
		    border-radius: 50%;
		    position: absolute;
		    margin-left: 10px;
		    overflow: hidden;
		}
			#req-chart1 {
			    clip: rect(0 140px 70px 0);
			    transform: rotate(90deg);
			    background: #cba9e2;
			    width: 100%;
			    height: 100%;
			    position: absolute;
			}
		
			#req-chart-center {
			    width: 100px;
			    height: 100px;
			    background: white;
			    border-radius: 50%;
			    position:absolute;
			    top:20px;
			    left:20px;
			    text-align: center;
			}
			.chart-center {
			    position: relative;
			    top: 40px;
			}
		#bepumi-success-chart {
		    width: 140px;
		    height: 140px;
		    background: gray;
		    border-radius: 50%;
		    position: absolute;
		    margin-left: 200px;
		    overflow: hidden;
		}
			#suc-chart1 {
			    clip: rect(0 140px 70px 0);
			    transform: rotate(90deg);
			    background: purple;
			    width: 100%;
			    height: 100%;
			    position: absolute;
			}
			#suc-chart2 {
			    clip: rect(0 140px 70px 0);
			    transform: rotate(180deg);
			    background: purple;
			    width: 100%;
			    height: 100%;
			    position: absolute;
			}
		
			#suc-chart-center {
			    width: 100px;
			    height: 100px;
			    background: lime;
			    border-radius: 50%;
			    position:relative;
			    top:20px;
			    left:20px;
			    text-align: center;
			}
