@charset "UTF-8";

/* 기본  width:1140px  */

#bg_profile_header{
	width:100%;
	height:300px;
	background: orange;
}

	#btn_header{
		float: right;
	    position: relative;
	    top: 10px;
	    right: 70px;
	    width: 120px;
	    height: 30px;
	}
		#edit {
		    box-sizing: border-box;
		    border: 1.989px outset rgb(221, 221, 221);
		    text-decoration: none;
		    display: inline-block;
		    font-family: Arial;
		    font-size: 13.3333px;
		    height: 24.1477px;
		    letter-spacing: normal;
		    line-height: normal;
		    padding: 1px 6px;
		    text-align: center;
		    text-rendering: auto;
		    width: 55.9517px;
		    -webkit-appearance: button;
		}
		#bepum_definite_wrapper {
		    width: 300px;
		    height: 100px;
		    position: relative;
		    top: 190px;
		    float: right;
		    right: -80px;
		}
		#bepum_definite_wrapper p{
			text-align: right;
			font-size: 12px;
			font-weight: bold;
		}
		
		#bepum_definite_wrapper span{
		    font-size: 25px;
		}

/* 중간 부분 */

.profile_body{
	width:100%;
	min-height:200px;
}

	.profile_body_left_container{
		width: 65%;
		min-height:inherit;
		float:left;
		
	}
	
	.profile_body_right_container{
		width:35%;
		min-height:inherit;
		float:left;
	}

	.clearfix::after{
		content:"";
		clear:both;
		display:block;
	}
	

	/* 중간 부분 -1 */
	#profile_member_wrapper{
		position:absolute;
		top:200px;
		left:50px;
		width:500px;
		height:200px;
	}
		/*프로필 부분*/
		#profile_member_wrapper img{
			width:200px;
			height:200px;
			border-radius:50%;
			float:left;
		} 
		#name {
		    position: relative;
		    top: 20px;
		    left: 5px;
		    font-size: 30px;
		    font-weight: 600;
		}
		
		#address {
		    position: relative;
		    top: 5px;
		    left: 10px;
		}
		
		#grade{
			position: relative;
		}
		
		#contact {
		    position: relative;
		    left: -20px;
		    top: -5px;
		}
		
		#home_photo{
			width:350px;
			height:80px;
			background:blueviolet;
		    position: relative;
		    top: 10px;
		    left: 10px;
		}


/* 프로필 하단 */
	#intro_table{
		box-sizing:border-box;
		width:90%;
		min-height : 150px;
		display:table;
		font-size: 13px;
		border-collapse: collapse;
		margin-left: 30px;
	}
	
		#intro_table .row{
			min-height:100px;
			display: table-row;
			border-bottom: 1px solid #808080;
			border-top: 1px solid #808080;
		}
		
			#intro_table .cell1{
				display: table-cell;
				text-align:center; 
		        vertical-align:middle;
		        font-weight:bold;
			}
			#intro_table .cell2{
				display: table-cell;
				border-left: 1px solid #808080;
				vertical-align:middle;
				padding-left: 10px;
			}
			
			textarea{
				margin:0; 
				padding:0; 
				border:0; 
				outline:none;
				resize: none;
			}
			input {
			    padding: 0;
			    width: 75px;
			    height: 35px;
			    background: transparent;
			    outline: 0;
			    border: none;
			    border: 1px solid black;
			    text-align: center;
			    font-size: 25px;
			}
	#bepumi_chart{
		float:left;
	}
		#bepumi_request_chart {
		    width: 140px;
		    height: 140px;
		    background: #a2a2a2;
		    border-radius: 50%;
		    position: absolute;
		    margin-left: 10px;
		    overflow: hidden;
		}
			#req_chart1 {
			    clip: rect(0 140px 70px 0);
			    transform: rotate(90deg);
			    background: #cba9e2;
			    width: 100%;
			    height: 100%;
			    position: absolute;
			}
		
			#req_chart_center {
			    width: 100px;
			    height: 100px;
			    background: white;
			    border-radius: 50%;
			    position:absolute;
			    top:20px;
			    left:20px;
			    text-align: center;
			}
			.chart_center {
			    position: relative;
			    top: 40px;
			}
		#bepumi_success_chart {
		    width: 140px;
		    height: 140px;
		    background: gray;
		    border-radius: 50%;
		    position: absolute;
		    margin-left: 200px;
		    overflow: hidden;
		}
			#suc_chart1 {
			    clip: rect(0 140px 70px 0);
			    transform: rotate(90deg);
			    background: purple;
			    width: 100%;
			    height: 100%;
			    position: absolute;
			}
		
			#suc_chart_center {
			    width: 100px;
			    height: 100px;
			    background: lime;
			    border-radius: 50%;
			    position:relative;
			    top:20px;
			    left:20px;
			    text-align: center;
			}
