/*2´Ü ¸Þ´º*/

#body, #footer{
	position:relative;
	top:158px;
}
#sub-bg{
	position:fixed;
	top:104px;
	width:100%;
	height:54px;
	background-color: #F8D9DD;
	left:0;
}

/* .main-menu ul{
	display:none;
} */
/*
.on sub-menu{
	display: block;
}
*/

.sub-menu{
	position:absolute;
	width:550px;
	left:-70px;
	top: 78px;
}
.sub-menu li{
	margin-left: 0px;
}
.sub-menu.hidden{
	display: none;
}
.sub-menu a{
	color: #727476;	
	width: max-content;
}

.sub-menu > li > a{
			color: #727476;
			font-size: 15px;
			text-align: center;
			font-weight: 500;
			text-decoration: none;
			padding: 0px 10px 30px 10px;
			display: block;
}
.sub-menu li.active a,
.sub-menu li a:hover{
   color:#072622;
   transition:0.5s all;
   -webkit-transition:0.5s all;
   -moz-transition:0.5s all;
   -o-transition:0.5s all;
   -ms-transition:0.5s all;
}
