@charset "UTF-8";

.main-menu li.active a,
.main-menu li a:hover{
   color:#F8D9DD;
   transition:0.5s all;
   -webkit-transition:0.5s all;
   -moz-transition:0.5s all;
   -o-transition:0.5s all;
   -ms-transition:0.5s all;
   border-bottom: 2px solid #F8D9DD;
}

/*2단 메뉴*/
.main-menu ul{
	display:none;
}

.main-menu li:hover > ul{
	display:block;
}

.sub-menu{
	position:absolute;
	background:white;
	overflow: hidden;
    width: max-content;
}

.sub-menu li{
	margin-left:5px;
	margin-right:5px;
}

.sub-menu li a{
	padding: 0px 10px 10px 10px;
}
.btn-border{
	cursor: pointer;
}

/* visual style */
#visual {
	margin-top: 100px;
}

#visual {
	background-image: url("../images/main_image.png");
	width: 100%;
	height: 650px;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
}

#banner_mask {
	background-color: rgba(20, 19, 19, 0.38);
	height: 650px;
	/* position: relative;*/
	/* top: 180px; */
	text-align: center;
	color: white;
}

#banner_test {
	padding-top: 22%;
	text-align: center;
}

#banner_test>.btn-border {
	color: #fff;
	padding: 1em 2em;
	border: 1px solid #fff;
}

#banner_test> a:hover{
	color: #F8D9DD;
	border:1px solid #F8D9DD;
}

/* Tablet & Desktop Device */
@media all and (min-width:768px) and (max-width:1140px){
	#visual {
	height: 500px;
	}
	#banner_mask {
	height: 500px;
	}
}


@media all and (max-width:768px){
	#visual{
		height: 400px;
	}
	#banner_mask {
		height: 400px;
	}
	
}



/*request*/
table.type10 {
    border-collapse: collapse;
    text-align: left;
     /*  line-height: 1; */
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin: 20px 10px;
}
table.type10 thead th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #fff;
    background: #ec93a9;
    margin: 20px 10px;
}
table.type10 tbody th {
	color: #6d6d6d;
    width: 150px;
    padding: 10px;
}
table.type10 td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
}
table.type10 .even {
    background: #fdf3f5;
}
